

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href={% static "login.css" %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
      </style>
  </head>
  <body>

<div>

    <div>

        <h1 class="text-light big-head ps-3">Interes Viewers</h1>
    </div>

    <div class="container centers">
        <div class="row justify-content-center rs">
        <div class="col-12 col-lg-4 col-md-8 col-sm-8 m-2 ">
            <div class="middle container p-4 d-flex justify-content-between flex-column ">

              <div class='d-flex justify-content-center rounded '>
                <img class="img-fluid d-block" width="200px" height="200px" src={% static 'images\mns.png' %} alt="">
            </div>
                
                <form  method="post" >
                  {% csrf_token %}
                  {% if Error %}
                  <p class="text-danger"> {{Error}}</p> 
                  {% endif %}
                    <div class=" mb-3 text-light  d-flex flex-column ">
                       <label for="">Email</label>
                        <input type="email" name="email" id="" >
        
                    </div>
              
                     <div class="mb-3 text-light d-flex flex-column ">
                        <label for="">Password</label>
                         <input type="password" name="password" id="">
         
                     </div>

                     <div class="d-grid gap-2 mt-5  w-100">
                        <button class="btn btn-light btns" type="submit">Log in</button>
                      </div>

                </form>
                <div>
                    
                    <div class="text-center ">
                        <button class="forgot " onclick={window.location.href='{% url "password_reset" %}'} >Forgot Password?</button>
                      </div>
                </div>
        
        
        
                
            </div>
        </div>
        </div>

      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>